__pycache__/
archive/
*.pyc
*.pyo
outputs/
*.pth
*.pt
.DS_Store
.idea/
.vscode/
*.nii.gz
*.nii
*.gz
dataset/
venv/
.venv/
.ipynb_checkpoints/
*.pdf
*.log
*:Zone.Identifier
*.npy
*.aux
*.out
!REPORT.pdf
!slides.pdf
